.Pokecard {
  border: 1px solid lightslategray;
  width: 220px; 
  height: 220px;
  margin: 5px;
  padding: 5px;
  box-shadow: 7px 10px 12px -5px rgb(62, 39, 85);
  background-color: white;
  border-radius: 10px;
}

img { 
  width: 120px;
  margin: 0px;
}

h1 { 
  font-size: 20px;
  margin: 0px;
}

h4 { 
  margin: 0;
}
p { 
  margin: 0;
}


.Pokedex-cards { 
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-right: 20px;
}

.Pokecard-data { 
  font-size: 100%;
}

.Pokecard img:hover { 
  transform: scale(1.25);  
  opacity: 0.8;
}

.Pokedex-winner { 
  color: green; 
  margin-top: 5px;
}

.Pokedex-loser { 
  color: red;
  margin-top: 5px;
}


